pipeline/adfactivities.json
{
	"name": "adfactivities",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "filepath",
								"value": "$$FILEPATH"
							},
							{
								"name": "containername",
								"value": {
									"value": "@pipeline().globalParameters.sourcecontainername",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "csvsource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "datasetCorrectStaging",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "testfile.csv",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy data1_copy1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "filepath",
								"value": "$$FILEPATH"
							},
							{
								"name": "containername",
								"value": {
									"value": "@pipeline().globalParameters.sourcecontainername",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "csvsource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "datasetCorrectStaging",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "testfile.csv",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "testappendvariable",
					"value": {
						"value": "@pipeline().globalParameters.sourcecontainername",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1_copy1",
				"type": "AppendVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "testappendvariable",
					"value": {
						"value": "@pipeline().parameters.testappendparameter",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Append variable1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 2
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "plwaitactivity",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"message": "Custome Error",
					"errorCode": "550"
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('testappendvariable')",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item(),'h')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable2",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "newarray",
					"value": {
						"value": "@activity('Filter1').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Append variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "arraypipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"arrayinput": {
							"value": "@variables('newarray')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"concurrency": 2,
		"parameters": {
			"testappendparameter": {
				"type": "string",
				"defaultValue": "est"
			}
		},
		"variables": {
			"testappendvariable": {
				"type": "Array",
				"defaultValue": [
					"hello",
					"hi",
					"go",
					"heelo"
				]
			},
			"newarray": {
				"type": "Array",
				"defaultValue": [
					"val"
				]
			}
		},
		"annotations": []
	}
}